website/.next
website/.swc
.github
.vscode
website/certificates
website/out

website/node_modules

website/test-results
website/playwright-report
website/playwright/.cache

website/public/robots.txt
website/public/rss.xml
website/public/sitemap.xml
website/public/.index/*
website/public/Users/Public/**

!website/public/Users/**/desktop.ini
!website/public/Users/Public/Desktop
!website/public/Users/Public/Desktop/My PC.url
!website/public/Users/Public/Desktop/Public.url
!website/public/Users/Public/Documents
!website/public/Users/Public/Music
!website/public/Users/Public/Pictures
!website/public/Users/Public/Pictures/prompts.json
!website/public/Users/Public/Pictures/slideshow.json
!website/public/Users/Public/Start Menu
!website/public/Users/Public/Start Menu/*.url
!website/public/Users/Public/Start Menu/Emulators
!website/public/Users/Public/Start Menu/Emulators/*.url
!website/public/Users/Public/Start Menu/Games
!website/public/Users/Public/Start Menu/Games/Chrome Dino.url
!website/public/Users/Public/Start Menu/Games/ClassiCube.url
!website/public/Users/Public/Start Menu/Games/DX-Ball.url
!website/public/Users/Public/Start Menu/Games/Quake III Arena.url
!website/public/Users/Public/Start Menu/Games/Space Cadet.url
!website/public/Users/Public/Videos
